body {
  background: linear-gradient(135deg, #439db2, #2f7d91);
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Contenedor general */
header,
section,
footer {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  border-radius: 12px;
}

/* HEADER */
header {
  background-color: white;
  text-align: center;
  font-weight: 600;
  font-size: 24px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* SECTION */
section {
  background-color: white;
  font-size: 18px;
  line-height: 1.6;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

/* FOOTER */
footer {
  background-color: #222;
  color: white;
  text-align: center;
  font-size: 14px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
